.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  /* Yahan hum sirf header par gradient laga rahe hain */
  background: linear-gradient(90deg, #2c3950 0%, #0e2749 100%);

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
}
.appTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  position: absolute;
  top: 15px;
  right: 70px;
  font-size: 32px;
  color: #d1d5db;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #00d2ff;
}

.profileIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
}

.profileIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
