# Node dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
coverage/

# Logs
logs/
*.log

# IDE or editor files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Docker-related junk
*.pid
*.seed
